.image {
    background-image: url('../images/christal1.jpg');
    background-size: 25%;
    background-position: right;
    background-repeat: repeat
  
}
.quote {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    color: rgb(82, 82, 10);
}
.h1about {
    font-family: cursive;
    text-align: center;
    color: rgb(82, 82, 10);
}
.h2about {
    text-align: center;
}
.p1about {
    text-align: left;
}
.motto{
    color: rgb(82, 82, 10); 
}
.container {
    width: 100%;
   
   
    /* border: 2px solid black; */

}